@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff');
  font-weight: 400
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff');
  font-weight: 500
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Bold.woff');
  font-weight: 700
}

@font-face {
  font-family: 'Social';
  src: url('../fonts/social.otf');
  font-weight: normal
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff');
  font-weight: normal
}
